
.pt-sans-narrow-regular {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pt-sans-narrow-bold {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
}


* { margin: 0; padding: 0; outline: 0; }

body, html { 
    height: 100%; 
}


h1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: aqua;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #888888;
}
body{
    background-color: rgb(83, 83, 83);
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#000000
}

h2 { 
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #00ffff; 
    font-size: 20px; 
    font-family: 'coolvetica', arial, helvetica, serif; 
    font-weight: normal; 
    text-shadow: rgba(0,0,0,0.9) 0px 0px 2px; 
}

/*  */
hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}

hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}

img {
	border: none;
	}
	
#menu {
	width: 200px;
	margin: 10px;
	border-style: solid solid none solid;
	border-color: #448199;
	border-width: 1px;
}
	
#navigation { 
    width: 669px; 
    height: 66px; 
    padding: 6px 7px 0 8px; 
    margin-top: 10px; 
    position: relative; 
    margin-right: -5px;  
    background: url(#) no-repeat 0 0; 
    font-size: 16px; 
    color: #fff; 
    float: right; 
}
#navigation ul { list-style: none; list-style-position: outside; line-height: 49px; }

#navigation ul li { 
    float: left; 
    padding-right: 2px;  }

#navigation ul li a { display: block; color: #00eeff; text-shadow: rgba(0,0,0,0.5) 0px 2px 2px; padding: 0 36px; position: relative; }

#navigation ul li a:hover,
#navigation ul li.last a:hover {  
    text-decoration: none; 
}

#navigation ul li.last { 
    background: transparent; 
    padding-right: 0;  
}

#navigation ul li.last a { 
    padding-right: 33px; 
    padding-left: 33px; 
    border-right: 0; 
    background: transparent; }

#navigation ul li a span {  
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0); 
    text-shadow: rgba(0, 183, 255, 0.9) 0px 1px 0px; 
    width: 39px; height: 39px; position: absolute; 
    top: -17px; right: 0; 
    text-align: center; 
    line-height: 39px; 
    font-size: 14px; 
    color: #00a2ff; 
    transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
}